<div style="text-align:center">
    <input class="welcomeScreen" value="Welcome to The Magic 8-Ball" />
</div>

<div>
    <p style="text-align:center; color:white; font-size:40px">
        What would you like to know?
    </p>
</div>


<div style="text-align:center">
    <input type="button" class="button" value="Shake the Magic 8-Ball" onclick="getRandomFortune()" />
</div>

<h2>Opacity with Box</h2>
<p>Hover over the image to see the effect.</p>

<div class="fortune">
    <img src="~/Content/Images/black16.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
        @*<p id="quote" class="circle">  </p>*@ 
        <div id="quote"class="text">  </div>
    </div>
</div>


@*<div class="fortune">

    <p id="quote" class="circle">  </p> 
    @*<div id="quote">  </div>*@
@*</div>*@


